<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rooms</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
</head>
    <body>
        <div class="container">
            <div class="split left">
                <div id = "room-container" >
                    <% if(rooms.length!=0){ %> 
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <h3> Current Open Rooms </h3>
                        </div>
                        
                    <% } %> 
                    <hr>
                    <% rooms.forEach( room =>{ %>
                        <div class="container">
                            <form action="/rooms/<%=room%>" method="POST" class="row g-3">
                                <div class="col-auto">
                                    <label for="staticEmail2" class="visually-hidden">Email</label>
                                    <input type="text" readonly class="form-control-plaintext" value="Room: <%=room%>">
                                </div>
                                <div class="col">
                                    <label for="inputPassword2" class="visually-hidden">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" name="password">
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-dark mb-3">Join Room</button>
                                </div>
                            </form>
                        </div>
                        
                        <hr>
                    <%})%>
                </div>
            </div>
            
            <div class="room-form split right">
                <%- include('./partials/messages.ejs') %> 
                <div style="display: flex; justify-content: center; align-items: center;">
                    <h2>Hello, <%= user%></h2>
                </div>
                <form action="/rooms" method="POST" class="centered">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <h3> Create a New Room to Compete </h3>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="room" class="form-control" id="floatingInput" placeholder="room1" required>
                        <label for="floatingInput"> Room Name</label>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="***" required>
                        <label for="floatingInput">Password</label>
                    </div>
                    
                    <div class="buttons">
                    <button type="submit" class="btn btn-dark"> Create New Room </button>
                    </div>
                    
                </form>
            </div>
            
        </div>

        <script>
            const user = "<%=user%>";
        </script>
       
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="../script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
   <style>
        body {
        font-family: 'Nunito';
        background-color: #dfdfdf;
        }
        .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: red 1px solid; */
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .room-form{
            float: right;
        }
        .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
        }
        .left {
        left: 0;
        background-color: #dfdfdf;
        border-right: 1px black solid;
        }
        .right {
        right: 0;
        background-color: #dfdfdf;
        border-left: 1px black solid;
        }
        .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        }
        
    </style>
    </body>
    
</html>